name: Deploy Documentation

on:
  release:
    types: [created]
  workflow_dispatch:
  push:

permissions:
  contents: write # allow write access for docs deployment

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Check out PyBOP repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

    - name: Set up Python 3.11
      id: setup-python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
        cache: 'pip'
        cache-dependency-path: setup.py

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip nox
    - name: Using Python 3.11, build the docs
      run: nox -s docs

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
        publish_branch: gh-pages
